.container-fluid .panel-primary {
  border-color: #1B1E24;
  background-color: #1B1E24;
}
.container-fluid .panel-primary .panel-heading {
  border-color: #1B1E24;
  background-color: #1B1E24;
}
.container-fluid #tree .folder-item {
  font-size: 1.6rem;
  color: black;
}
.container-fluid #content a {
  color: black;
}