.pagination {
    display: flex;
    flex: 1 1 auto;
    list-style: none;
    li {
        display: flex;
        width: 38px;
        height: 38px;
        margin-left: -1px;
        border: 1px solid $border;
        @extend %hover-transition;
        &:first-child {
            width: 100px;
        }
        &:last-child {
            width: 100px;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
            outline: none;
            svg {
                margin: 0 6px;
                width: 12px;
            }
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
        }
        &.active {
            background-color: $generalColor;
            &+ .disabled {
                display: none;
            }
        }
        &:hover {
            background-color: $generalColor;
        }
        &.disabled {
            &:first-child {
                display: none;
            }
            &:hover {
                background-color: transparent;
            }
        }
    }
}
