.module-partners-wrap {
    @extend %content-flex-column;
    .partners {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        .partner {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(100% - 20px);
            margin: 10px;
            padding: 20px 10px;
            background-color: $DashboardBlocks;
            border-radius: 6px;
            @media(min-width: 600px) {
                width: calc(50% - 20px);
            }
            @media(min-width: $pc) {
                width: calc(33% - 20px);
            }
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                .img-wrap {
                    box-sizing: border-box;
                    padding: 0 12px;
                    margin: 20px 0;
                    img {
                        width: 100%;
                    }
                }
                .file-btn {
                    box-sizing: border-box;
                    display: flex;
                    color: $DashboardBlocksText;
                    background-color: $DashboardBlocks;
                    border-radius: 6px;
                    border: 1px solid $inputBorder;
                    padding: 7px 10px;
                    width: calc(100% - 20px);
                }
                .input-wrap {
                    box-sizing: border-box;
                    @extend %input-wrap;
                }
                .textarea-wrap {
                    box-sizing: border-box;
                    @extend %textarea-wrap;
                }
                .btn-sub-wrap {
                    display: flex;
                    width: calc(100% - 20px);
                    button {
                        @extend %button;
                    }
                }
            }
            .delete-partner {
                display: flex;
                flex-direction: row-reverse;
                width: calc(100% - 20px);
                form {
                    button {
                        margin-top: -31px;
                        @extend %button;
                    }
                }
            }
        }
    }
    .add-partner {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 20px);
        margin: 10px;
        padding: 20px 10px;
        background-color: $DashboardBlocks;
        border-radius: 6px;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .img-wrap {
                box-sizing: border-box;
                padding: 0 12px;
                margin: 20px 0;
                img {
                    width: 100%;
                }
            }
            .file-btn {
                box-sizing: border-box;
                display: flex;
                color: $DashboardBlocksText;
                background-color: $DashboardBlocks;
                border-radius: 6px;
                border: 1px solid $inputBorder;
                margin: 10px 0;
                padding: 7px 10px;
                width: calc(100% - 20px);
            }
            .input-wrap {
                box-sizing: border-box;
                @extend %input-wrap;
            }
            .textarea-wrap {
                box-sizing: border-box;
                @extend %textarea-wrap;
            }
            .btn-sub-wrap {
                display: flex;
                width: calc(100% - 20px);
                button {
                    @extend %button;
                }
            }
        }
    }
}
