.module-news-wrap {
    @extend %content-flex-column;
    h1 {
        @extend %h1;
    }
    .add-news {
        @extend %add-item;
    }
    .all-news {
        .news {
        }
    }
}
.news-edit {
    @extend %content-flex-column;
    h1 {
        @extend %h1;
    }
    h2 {
        display: flex;
        justify-content: center;
        width: 100%;
        color: white;
        margin: 10px 0;
    }
    .upload-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        width: calc(100% - 40px);
        margin: 0 10px;
        padding: 10px;
        border-radius: 6px;
        background: $DashboardBlocks;
        @media (min-width: $tablet) {
            width: 250px;
        }
        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 230px;
            border-radius: 6px;
            padding: 10px;
            background: white;
            img {
                width: 220px;
            }
        }
        .file-btn {
            width: calc(100% - 20px);
            margin-top: 20px;
            @extend %button;
            input[type=file] {
                display: none;
            }
        }
    }
    .on-off {
        position: relative;
        display: flex;
        align-items: center;
        align-self: flex-start;
        width: calc(100% - 44px);
        margin: 10px 10px 0;
        padding: 12px;
        border-radius: 6px;
        color: $DashboardBlocksHeadText;
        background-color: $DashboardBlocks;
        @media(min-width: $tablet) {
            width: 248px;
        }
        @extend %onoff;
        .tgl {
            + .tgl-btn {
                width: 60px;
                height: 30px;
            }
        }
        .tgl-flat {
        	+ .tgl-btn {
                top: 8px;
                left: 196px;
            }
        }
    }
    .update-news {
        display: flex;
        flex-flow: row wrap;
        width: calc(100% - 20px);
        margin: 6px 10px;
        .input-wrap {
            @extend %input-wrap;
        }
        .textarea-wrap {
            @extend %textarea-wrap;
        }
        .btn-wrap {
            display: flex;
            .btn-sub-wrap {
                margin: 10px 20px 10px 0;
                button {
                    @extend %button;
                }
            }
        }
    }
    #app {
        width: calc(100% - 20px);
    }
    .news-vue {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .uploaded-images {
            display: flex;
            flex-flow: row wrap;
            .upd-img {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 120px;
                height: 152px;
                margin: 12px;
                padding: 6px;
                border-radius: 6px;
                background: $DashboardBlocks;
                .img-wrap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 120px;
                    height: 120px;
                    overflow: hidden;
                    img {
                        width: 120px;
                    }
                }
                .wrap-img-btn {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    bottom: 0;
                    button {
                        display: flex;
                        justify-content: center;
                        width: 36px;
                        margin: 4px 6px;
                        padding: 7px 22px;
                        background: none;
                        border: 0;
                        border-radius: 6px;
                        color: $buttonColor;
                        outline: none;
                        transition: all .4s ease-out;
                        &:hover {
                            cursor: pointer;
                            color: white;
                            background: $buttonBgHover;
                        }
                    }
                }
            }
        }
    }
}
