.module-delivery-wrap {
    @extend %content-flex-column;
    .add-delivery {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 20px);
        margin: 10px;
        padding: 20px 10px;
        background-color: $DashboardBlocks;
        border-radius: 6px;
        > form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .on-off {
                position: relative;
                display: flex;
                align-items: center;
                align-self: flex-start;
                width: calc(100% - 44px);
                margin: 10px;
                border-radius: 6px;
                color: $DashboardBlocksHeadText;
                @media(min-width: $tablet) {
                    width: 200px;
                }
                @extend %onoff;
                .tgl {
                    + .tgl-btn {
                        width: 60px;
                        height: 30px;
                    }
                }
                .tgl-flat {
                	+ .tgl-btn {
                        top: -2px;
                        left: 200px;
                    }
                }
            }
            .input-wrap {
                box-sizing: border-box;
                @extend %input-wrap;
                padding: 4px 12px;
            }
            .textarea-wrap {
                box-sizing: border-box;
                @extend %textarea-wrap;
            }
            .btn-sub-wrap {
                display: flex;
                width: calc(100% - 20px);
                button {
                    @extend %button;
                }
            }
        }
    }
    #app {
        width: 100%;
        .delivery-edit {
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            .city-block {
                display: flex;
                flex-direction: column;
                margin: 6px 0;
                width: 100%;
                border-radius: 6px;
                background-color: $DashboardBlocks;
                .preview {
                    box-sizing: border-box;
                    display: flex;
                    width: 100%;
                    padding: 10px;
                    color: $DashboardBlocksHeadText;
                    cursor: pointer;
                    border-radius: 6px;
                    &:hover {
                        background-color: $DashboardBlocksHover;
                    }
                    .country {
                        margin-right: 20px;
                        flex: 1 1 auto;
                    }
                    .region {
                        margin-right: 20px;
                        flex: 1 1 auto;
                    }
                    .city {
                        flex: 1 1 auto;
                    }
                    .visibility, .has-url {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        img {
                            width: 24px;
                            margin-left: 20px;
                        }
                    }
                }
                form {
                    display: none;
                    width: 100%;
                    .on-off {
                        position: relative;
                        display: flex;
                        align-items: center;
                        align-self: flex-start;
                        width: calc(100% - 44px);
                        margin: 10px;
                        border-radius: 6px;
                        color: $DashboardBlocksHeadText;
                        @media(min-width: $tablet) {
                            width: 240px;
                        }
                        @extend %onoff;
                        .tgl {
                            + .tgl-btn {
                                width: 60px;
                                height: 30px;
                            }
                        }
                        .tgl-flat {
                            + .tgl-btn {
                                top: -2px;
                                left: 200px;
                            }
                        }
                    }
                    .input-wrap {
                        box-sizing: border-box;
                        @extend %input-wrap;
                        padding: 4px 12px;
                    }
                    .textarea-wrap {
                        box-sizing: border-box;
                        @extend %textarea-wrap;
                    }
                    .btn-wrap {
                        display: flex;
                        .btn-sub-wrap {
                            margin: 10px;
                            button {
                                @extend %button;
                            }
                        }
                    }
                }
            }
        }
    }
}
