.module-slider-wrap {
    @extend %content-flex-column;
    h1 {
        @extend %h1;
    }
    .add-slider {
        @extend %add;
    }
    .all-sliders {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        .update-slider {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            background-color: $DashboardBlocks;
            @media(min-width: $pc) {
                width: calc(50% - 5px);
                margin: 10px 0;
            }
            .img-wrap {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                margin: 10px 0;
                width: 100%;
                height: 140px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            input[type=file] {
                position: relative;
                box-sizing: border-box;
                padding: 4px 4px 4px 40px;
                height: 29px;
                margin-top: 10px;
                outline: none;
                transition: background-color .4s ease-out;
                color: $inputColor;
                background-color: $inputBg;
                border: 1px solid $buttonBorder;
                cursor: pointer;
                -webkit-user-select: none;
                &::-webkit-file-upload-button {
                    visibility: hidden;
                }
                &::before {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    content: 'Выберите файл';
                    top: 0;
                    left: 0;
                    width: 119px;
                    height: 27px;
                    background-color: $buttonBg;
                }
                @media(max-width: $tablet-max) {
                    width: 100%;
                    margin-top: 10px;
                }
            }
            @extend %input;
            @extend %double-btn;
        }
    }
}
