.system-wrap {
    @extend %content-flex-column;
    .system-info {
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        color: $DashboardBlocksText;
        font-family: monospace;
        .info-block {
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            width: 100%;
            margin: 10px 0;
            padding: 20px;
            color: $DashboardBlocksHeadText;
            background-color: rgba(0%, 0%, 0%, .7);
            @media(min-width: $tablet) {
                width: calc(50% - 20px);
                margin: 10px;
            }
            @media(min-width: $pc) {
                width: calc(33% - 20px);
                margin: 10px;
            }
            @media(min-width: $pc-wide) {
                width: calc(25% - 20px);
                margin: 10px;
            }
            @media(min-width: $pc-4k) {
                width: calc(20% - 20px);
                margin: 10px;
            }
            img {
                width: 60px;
            }
            .name {
                color: #10c787;
                position: absolute;
                top: 20px;
                right: 20px;
            }
            .version {
                font-size: 1.3em;
                text-align: right;
                width: 100%;
                margin-top: 32px;
            }
        }
    }
    .commands {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        button {
            box-sizing: border-box;
            @extend %button;
            height: 30px;
            padding: 0 10px;
            margin: 10px 10px 10px 0;
        }
    }
    .header {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        color: $DashboardBlocksHeadText;
        margin: 6px 0;
    }
    .help {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: .9em;
        .question {
            color: $DashboardBlocksHeadText;
            outline: none;
            cursor: pointer;
            margin: 6px 0;
        }
        .answer {
            color: $DashboardBlocksText;
            p {
                margin: 4px 0;
                a {
                    color: $generalColor;
                }
            }
            .code {
                display: inline-flex;
                box-sizing: border-box;
                margin: 4px 0;
                padding: 20px;
                font-size: 1rem;
                color: black;
                background-color: #f2f2f2;
            }
        }
    }
}
